#table_fu {
    text-align: left;
}

#table_fu #download {
    margin-top:7px;
    margin-bottom:0px;
    display: inline;
    float: right;
}

#table_fu #pubdate {
    color:#bc5c23;
    font-size:11px;
    margin-bottom:0px;
    display:inline;
}

#table_fu #data{
    border-collapse: collapse;
    margin:0 0 14px 0;
    width: 100%;
}

#table_fu #data tbody tr:nth-child(odd) td, tbody tr.odd td {
    background-color: #eee;
}

#table_fu td, #table_fu th {
    padding: 7px;
    border-bottom: 1px solid black;
}

#table_fu th{
    cursor: pointer;
    vertical-align: bottom;
    text-align: left;
    color: black;
    font-weight: bold;
    padding: 4px 14px 4px 7px;
    background: white url(/static/img/both.png) no-repeat 99% 50%;
}

#table_fu thead tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/*
#table_fu th.sorted, td.sorted {
    background-color: #e5ecf9 !important;
}
*/

#table_fu th.headerSortDown{
    background: #e5ecf9 url(/static/img/up.png) no-repeat 99% 50%;
}

#table_fu th.headerSortUp{
    background: #e5ecf9 url(/static/img/down.png) no-repeat 99% 50%;
}

#table_fu img.bubble {
    margin: auto;
}

#table_fu img.vote {
    margin:auto;
}

